<div th:fragment="labels(dayLabels)">
    <div class="card" th:each="label: ${dayLabels}">
        <div class="card-header" th:id="${label.getName()}">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        th:data-target="'#data-' + ${label.getName()}"
                        aria-expanded="false"
                        th:aria-controls="'data-' + ${label.getName()}" th:text="${label.getName()}"/>
            </h2>
        </div>

        <div th:id="'data-' + ${label.getName()}" class="collapse"
             th:aria-labelledby="${label.getName()}">
            <div class="card-body">
                <div class="choice" th:each="choice: ${label.getChoices()}">
                    <div th:text="${choice.getValue()}"/>
                </div>
                <div class="condition" th:each="condition: ${label.getConditions()}">
                    <h3 class="condition-expression" th:text="${condition.getCondition()}"/>
                    <tr/>
                    <h6 class="condition-expression" style="white-space: pre-wrap" th:text="${condition.getExpression()}"/>
                </div>
            </div>
        </div>
    </div>
</div>